* {
    box-sizing: border-box;
    padding: 0;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0;
}

.background{
    background-image: url(./img/xeno-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}



.header-container{
    display: flex;
    background-color: #162c30;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    /* border: solid red; */
    /* border-bottom: thick double #3f519a; */
}

.header-container h2{
    /* border: 2px dashed rgb(120, 31, 41); */
    /* border-radius: 5px; */
    /* box-shadow: 10px 5px 5px black; */
}
.Odin-header-logo{
    margin-left: 50px;
    color: #F9FAF8;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 24px;
}

.Odin-header-logo img{
    width: 40px;
    height: 40px;
    position: inherit;
    margin-left: 10px;
}

.header-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */
    width: 350px;
    margin-right: 50px;
}

.header-links > div{
    font-weight: normal;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 3px double #5e2e2e;
    border-bottom: 3px double #5e2e2e;
    padding: 2px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.header-links > div:hover{
    box-shadow: inset 100px 0 0 0 #1a3c48;
    color: white;
}

.header-links > div > img{
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

.header-links > div > a{
    color: #54b3d6;
}


/*============= Info Container ============ */
.info-container{
    display: flex;
    /*background-color: #1f2937;*/
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
    height: 400px;
    align-items: center;
    /* border: 2px solid red; */
}

.info-website{
    /* border: 2px solid red; */
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-website h1{
    font-size: 48px;
    font-weight: bold;
    color: #b17544;
}

.placeholder-text{
    color: #F9FAF8;
}
.placeholder-img{
    margin-left: 50px;
    /* border: 2px solid green; */
}

.placeholder-img img{
    width: auto;
    height: auto;
}

.info-website > *{
    margin-left: 5px;
}
.info-website p{
    /* margin-left: 8px; */
    font-size: 18px;
    color: #ba4746;
    text-align: center;
    font-weight: 600;
}

.info-button{
    border-radius: 10px;
    width: 95px;
    height: 40px;
    margin-top: 5px;
    background-color: #3883F6;
    font-size: 15px;
    color: #F9FAF8;
    font-weight: bold;
}

.info-button:hover, .sign-button:hover{
    background-color: rgb(83, 84, 134);
}

.info-button:active, .sign-button:active{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/*============= Random Container ============ */

.random-container{
    font-family: 'Roboto', sans-serif;
    display: flex;
    opacity: 0.9;
    background-color: #E5E7EB;
    /* position: absolute; */
    flex-direction: column;
    box-shadow: 10px 5px 5px black;
    justify-content: center;
    margin-left: 70px;
    align-items: center;
    width: 1050px;
    border-radius: 13px;
    /* border: 2px solid red; */
    border-top: 5mm ridge cadetblue;
    border-bottom: 5mm ridge cadetblue;
    height: 450px;
}

.info-text{
    font-size: 25px;
    margin-top: 30px;
    /* align-self: center; */
    /* border: 2px solid green; */
    font-weight: bold;
    color: #1f2937;
    text-align: center;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 160px;
    width: 1000px;
    /* border: 2px solid black; */
    margin-top: 40px;
}

.box-primeiro,.box-segundo,.box-terceiro,
.box-quarto{
    border: 5px solid #535368;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    transition: transform .3s;
}

.box-primeiro:hover{
    transform: scale(1.3);
    box-shadow:  10px 5px 5px #2c4072;
}

.box-segundo:hover{
    transform: scale(1.3);
    box-shadow: 10px 5px 5px #8b2a2a
}

.box-text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 2px solid green; */
    margin-top: 10px;
    height: 150px;
    width: 1000px;
}

.box-text > div{
    height: 135px;
    width: 170px;
    /* border: 2px solid red; */
}

.box-image > img{
    width: 151px;
    height: 154px;
    object-fit: fill;
}

/*============= quote Container ============ */

.quote-container{
    /*background-color: #E5E7EB;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 390px;
    font-family: 'Roboto', sans-serif;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    height: 300px;
    /* text-align: center; */
    /* border: 2px solid red; */
    height: auto;
    width: 800px;
    /* display: flex; */
}

.quote-signature{
    display: flex;
    font-size: 23px;
    font-weight: bold;
    /* border: 2px solid red; */
    width: 600px;
    justify-content: flex-end;
    margin-top: 10px;
}

/*============= action Container ============ */

.action-container{
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.action-box{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #3883F6;
    justify-content: space-between;
    height: 150px;
    width: 1050px;
    align-items: center;
    /* border: 2px solid red; */
}

.action-text{
    /* display: flex; */
    /* flex-direction: column; */
    margin-left: 60px;
}

.action-text h2{
    font-size: 24px;
    color: #F9FAF8;
}

.action-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.sign-button{
    color: #F9FAF8;
    background-color: #3883F6;
}

.action-button{
    margin-right: 40px;
}

.sign-button{
    color: #E5E7EB;
    border-radius: 10px;
    border: 2px solid white;
    width: 100px;
    height: 40px;
    font-weight: bold;
}

/*============= footer Container ============ */

.footer-container{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 85px;
}

.footer-container > p{
    font-size: 18px;
    color: #E5E7EB;
}