* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-container{
    display: flex;
    background-color: #1f2937;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.Odin-header-logo{
    margin-left: 50px;
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 24px;
}


.header-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */
    width: 350px;
    margin-right: 50px;
}

.header-links > div{
    font-weight: normal;
    color: #E5E7EB;
    font-size: 18px;
}

/*============= Info Container ============ */
.info-container{
    display: flex;
    background-color: #1f2937;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    height: 400px;
    align-items: center;
}

.info-website{
    /*border: 2px solid red;*/
    width: 450px;
}

.info-website h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.placeholder-text{
    color: #F9FAF8;
}
.placeholder-img{
    margin-left: 50px;
    /* border: 2px solid green; */
}

.placeholder-img img{
    width: 550px;
    height: 230px;
}

.info-website > *{
    margin-left: 5px;
}
.info-website p{
    /* margin-left: 8px; */
    font-size: 18px;
    color: #E5E7EB;
}

.info-button{
    border-radius: 10px;
    width: 95px;
    height: 35px;
    margin-top: 5px;
    background-color: #3883F6;
    font-size: 15px;
    color: #F9FAF8;
    font-weight: bold;
}

.info-button:hover, .sign-button:hover{
    background-color: rgb(83, 84, 134);
}

.info-button:active, .sign-button:active{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/*============= Random Container ============ */

.random-container{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid red; */
    height: 445px;
}

.info-text{
    font-size: 25px;
    margin-top: 30px;
    /* align-self: center; */
    /* border: 2px solid green; */
    font-weight: bold;
    color: #1f2937;
    text-align: center;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 135px;
    width: 850px;
    /* border: 2px solid black; */
    margin-top: 40px;
}

.box-primeiro,.box-segundo,.box-terceiro,
.box-quarto{
    border: 4px solid blue;
    border-radius: 5px;
    width: 150px;
}

.box-text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 2px solid green; */
    margin-top: 10px;
    height: 135px;
    width: 850px;
}

.box-text > div{
    height: 135px;
    width: 145px;
    /* border: 2px solid red; */
}

/*============= quote Container ============ */

.quote-container{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 390px;
    font-family: 'Roboto', sans-serif;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    height: 300px;
    /* text-align: center; */
    /* border: 2px solid red; */
    height: auto;
    width: 800px;
    /* display: flex; */
}

.quote-signature{
    display: flex;
    font-size: 23px;
    font-weight: bold;
    /* border: 2px solid red; */
    width: 600px;
    justify-content: flex-end;
    margin-top: 10px;
}

/*============= action Container ============ */

.action-container{
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.action-box{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #3883F6;
    justify-content: space-between;
    height: 150px;
    width: 900px;
    align-items: center;
    /* border: 2px solid red; */
}

.action-text{
    /* display: flex; */
    /* flex-direction: column; */
    margin-left: 60px;
}

.action-text h2{
    font-size: 24px;
    color: #F9FAF8;
}

.action-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.sign-button{
    color: #F9FAF8;
    background-color: #3883F6;
}

.action-button{
    margin-right: 40px;
}

.sign-button{
    color: #E5E7EB;
    border-radius: 10px;
    border: 2px solid white;
    width: 80px;
    height: 33px;
    font-weight: bold;
}

/*============= footer Container ============ */

.footer-container{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 85px;
}

.footer-container > p{
    font-size: 18px;
    color: #E5E7EB;
}